html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  width: 100%;
  background: #f2f2f2;
  color: #000;
  box-sizing: border-box;
  background-image: url("https://www.nicholasmarkets.com/Media/Default/Sub%20Headers/Department%20Home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* header.produs{
  width: 100%;
  background: #2e8b57;
  color: #000;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

nav {
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
}
ul.main {
  width: 100%;
  text-align: center;
}
ul.main li {
  display: inline-grid;
}
ul.main li a {
  text-decoration: none;
  color: #000;
  padding: 20px 30px;
  font-family: "Roboto", sans-serif;
  transition-duration: 1s;
}
ul.main li a:hover,
ul.main li a.active {
  background: white;
}
.main-title {
  box-sizing: border-box;
  width: 100%;
  padding: 80px 0;
  text-align: center;
  box-shadow: 0 0 0 1px #f2f2f2;
}

.mainPostPage {
  width: 70%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  float: left;
}

.main-title h1 {
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px #000;
}
.mainPage {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 0 1px #f2f2f2;
  float: left;
}
.articles {
  width: 70%;
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  float: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pageOptions {
  float: left;
  width: 30%;
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
}
.articleContainer {
  width: 400px;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #f2f2f2;
}
.articleImg {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 5px;
}
.articleTitle {
  text-align: center;
  width: 100%;
  padding: 20px 0px;
}
.articleTitle span {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}
.articleDescription {
  width: 100%;
  padding: 10px 0px;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
}


.pret {
  text-align: center;
  color: red;
  padding: 0 0 20px 0;
  font-size: 20px;
}
.cantitate {
  text-align: center;
  color: red;
  padding:0 0 10px 0;
  font-size: 20px;
}

.pret h1{
  font-size: 20px;
  font-family:  "Roboto", sans-serif;
  color: #000;
}
.cantitate h2{
  font-size: 10px;
  font-family:  "Roboto", sans-serif;
  color: #000;
}
.articleButton {
  text-align: center;
}
.articleButton .btn {
  background: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  padding: 10px 30px;
  transition-duration: 0.5s;
  width: 50%
}
.articleButton .btn:hover {
  background: #000;
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
}

.buyButton {
  text-align: center;
}
.buyButton .btn {
  background: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  padding: 10px 30px;
  transition-duration: 0.5s;
  margin: 0 0 20px 0;
  width: 50%
}
.buyButton .btn:hover {
  background: rgb(189, 21, 21);
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
}
.categories {
  width: 100%;
  background-origin: border-box;
  border-bottom: 1px solid #f2f2f2;
}
.categoriesTitle {
  width: 100%;
  padding: 20px 0;
  border: 1px solid transparent;
  border-bottom: 2px solid #f2f2f2;
  font-size: 25px;
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
}
.categoriesBody {
  width: 100%;
}
.categoriesContainer {
  width: 100%;
  font-size: 20px;
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
}

.categoriesContainer span.numberOfPostsForCategories {
  float: right;
  background: #f2f2f2;
  border-radius: 50%;
  padding: 5px;
}

.categoriesContainer a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 20px;
}
.categoriesContainer a:hover {
  color: rgb(218, 96, 96);
}

.pageRecentPosts {
  float: left;
  width: 30%;
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
}
.recentTitlePosts {
  width: 100%;
  padding: 20px 0;
  border: 1px solid transparent;
  border-bottom: 2px solid #f2f2f2;
  font-size: 25px;
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
}

.recentBody {
  padding: 10px;
}

.recentContainer {
  display: flex;
}

.recentImg {
  float: left;
  width: 50%;
}

.recentDescription {
  float: right;
  padding: 20px;
  font-family: "Srisakdi", cursive;
  font-family: "Playfair Display", serif;
  color: #000;
}

.recentBody a {
  text-decoration: none;
}
.recentContainer .recentDescription:hover {
  color: gray;
}
.recentContainer .recentImg:hover {
  filter: grayscale(100%);
}
.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1px;
  background-color: #000;
  text-align: center;
  height: 100px;
  position: relative;
  display: block;
  width: 100%;
  clear: both;
  box-sizing: border-box;
}

.footer .iconsFooter {
  width: 100%;
  padding: 5px;
}
.footer div a i {
  width: 18px;
}
.footer .iconsFooter,
.footer .creator {
  box-sizing: border-box;
}

.footer .creator {
  width: 100%;
  padding: 5px;
  font-size: 13px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.iconsFooter a i {
  color: #000;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
}

/* login page here */

.loginBox,
.contactBox {
  border: 5px solid #f2f2f2;
  padding: 50px;
  margin: 5px auto;
  width: 30%;
  height: 100%;
  border-radius: 20px;
  background: #fff;
  border: 5px solid #e2e2e2;
}
.loginBox div p {
  font-size: 40px;
  color: #808080;
  font-family: "Playfair Display", serif;
}
.loginBox input {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  margin: 5px;
  width: 100%;
  height: 25px;
  background: transparent;
  padding: 5px;
  border-radius: 10px;
  font-family: "Playfair Display", serif;
  outline: none;
}
.loginBox input:focus {
  width: 100%;
}
.more {
  display: flex;
  justify-content: space-between;
  font-family: "Playfair Display", serif;
  margin: 10px;
}
.more div a:hover {
  color: red;
}
.forgotPass a,
.signUp a {
  text-decoration: none;
  color: #808080;
}
.button {
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #57b846;
  border-radius: 25px;
  transition-duration: 0.5s;
  color: #000;
  outline: none;
}
.button:hover {
  background-color: #333333;
  color: #fff;
}
.button a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-family: "Playfair Display", serif;
}
.button i {
  padding: 5px;
}
.space {
  padding: 25px;
}
.spaceEnd {
  padding: 10%;
}
.background,
.background .space,
.background .spaceEnd {
  background: #f2f2f2;
}
.cancel .cancelRef {
  text-decoration: none;
}
.loginBox p {
  font-size: 20px;
  color: #808080;
  font-family: "Playfair Display", serif;
}
.loginBox .forgotPass {
  text-align: center;
}
.cancel .cancelRef p {
  font-size: 20px;
  padding: 20px;
}
.btn.forgotPass {
  display: flex;
  margin: 10px auto;
  width: 30%;
}
.cancel .cancelRef p:hover {
  color: red;
}
@media only screen and (max-width: 700px) {
  .mainPage,
  .pageOptions,
  .pageRecentPosts,
  .articles {
    width: 100%;
  }

  .moreImages img {
    max-height: 300px;
  }
  .mainImage .postImage {
    max-height: 300px;
  }
}

@media only screen and (max-width: 350px) {
  .mainImage .postImage {
    max-height: 250px;
  }
  ul.main li {
    display: block;
  }
  ul.main li a {
    display: block;
  }
}

/* contact page  */

.contactBox h2 {
  font-size: 25px;
  color: #000;
  font-family: "Playfair Display", serif;
  text-align: center;
  padding: 20px;
}
.contactBox p {
  font-size: 15px;
  color: #808080;
  font-family: "Playfair Display", serif;
  padding: 5px;
  text-align: center;
}

/* Produs.html */
.mainContainer {
  background: #f2f2f2;
}
.main_produs {
  margin: 0 10% 0 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.container_produs {
  padding: 20px;
}
.title_produs {
  font-size: 40px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f2f2f2;
}
.cod_produs{
  color:gray;
  margin: 10px 0;
}

.info_produs{
 
  padding: 20px 20px;
  width: 40%;
  justify-content: center;
  box-shadow: 0 0 0 1px #f2f2f2;
 
}
.container_produs .produs_body{
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
 
}
.furnizor{
  font-size: 20px;
  background: rgba(0, 128, 0, 0.507);
  box-shadow: 0 0 0 1px green;

    padding: 10px;
  font-family: "Playfair Display", serif;
}
.furnizor h1{
  color: gray;
}
.mini_info_container{
  background: #f2f2f2;
  margin: 20px 0px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #d8d8d8;
  font-size: 20px;
  width: 50%;
}
.cantitate_produs h1{
  font-weight: bold;
  margin:0 0 10px 0;
}
.pret_produs{
  color: red;
  margin: 20px 0 0 0;
}
.pret_produs h1{
  font-weight: bold;
  margin: 10px 0;
  color: #000;
}
/* client.html */
.secondContainer{
  margin: 0 10% 0 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.containerClient{
  padding: 20px;
}
.titleContainer{
  font-size: 30px;
  color: #2e8b57;
  text-align: center;
  margin: 10px;

}
.client{
  box-shadow: 0 0 0 1px #f2f2f2;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;

}
.delete_button{
background: #2e8b57;
border: none;
text-align: center;
text-decoration: none;
color: white;
display: inline-block;
padding: 10px;
transition-duration: 0.4s;
}
.delete_button:hover{
background: rgb(3, 105, 3);
cursor: pointer;
box-shadow:0 0 0 1px rgb(1, 90, 1);
}

/* furnizor.html */
.containerFurnizor{
  padding: 20px;
}
.furnizor{
  box-shadow: 0 0 0 1px #f2f2f2;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;

}
/* Reduceri.html */
.pret_final {
  text-align: center;
  color: red;
  padding: 0 0 20px 0;
  font-size: 20px;
}
